.contact_ttl {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contact_form {
    width: 80%;
    margin: 0 auto;
}

.label {
    line-height: 40px;
    position: relative;
}

.input-container {
    margin-left: auto;
    width: 70%;
}

.input-container_flex {
    display: flex;
}

.input-margin {
    display: flex;
    margin-bottom: 40px;
}

.contact_label {
    font-size: 24px;
    font-weight: bold;
    padding-top: 7px;
    width: 25%;
}

.confirm-content {
    width: 75%;
    font-size: 18px;
    line-height: 40px;
}

.contact_name-input {
    width: 45%;
}

.right {
    margin-right: 0;
    margin-left: 8%;
}

.contact_gender-input {
    width: 10%;
    transform: scale(3);
}

.gender-container {
    margin-top: 15px;
}

.contact_postcode-input {
    width: 89%;
    margin-left: 3%;
}

.opinion-textarea {
    border: 1px solid #000;
    border-radius: 7px;
    padding: 15px;
    display: block;
    width: 90%;
}

.contact_opinion {
    display: flex;
}

.button {
    display: block;
    margin: 30px auto;
    border: 1px solid #000;
    border-radius: 7px;
    padding: 10px 40px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
}

.modify {
    display: block;
    margin: 0 auto;
    text-decoration: underline;
}
